module quinovas-selinux 1.0;

require {
        type var_run_t;
        type iptables_t;
				type init_t;
				type irqbalance_t;
        class file read;
        class file open;
				class file lock;
				class process2 nnp_transition;
}

#============= iptables_t ==============
allow iptables_t var_run_t:file read;
allow iptables_t var_run_t:file open;
allow iptables_t var_run_t:file lock;

#============= init_t ==============
allow init_t irqbalance_t:process2 nnp_transition;
